<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Azuriranje rezervacija</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}" href="../css/bootstrap.min.css" />
        <script src="../static/jquery-3.6.3.js" th:src="@{/jquery-3.6.3.js}"></script>
        <script src="../static/bootstrap.js" th:src="@{/bootstrap.js}"></script>
        <script src="../static/bootstrap.bundle.js" th:src="@{/bootstrap.bundle.js}"></script>
        <script th:inline="javascript" src="../static/fuctions.js" th:src="@{/functions.js}"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/rezervacije}">Rezervacije </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/korisnici}">Korisnici</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/vozila}">Vozila</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container">
            <div id="stavkeRezervacije">
                <form id="stavkeRezervacijeForm" action="#" th:action="@{/rezervacije{id}(id=${rezervacijaID})}" th:object="${stavkaRezervacije}" th:method="PUT">
                    <div class="row">
                        <div class="col form-group">
                            <label>Vozilo:</label>
                            <select class="form-control" th:field="*{vozilo}" th:attr="onchange=|postaviCenu()|">
                                <option selected="true" disabled value="">Izaberite vozilo</option>
                                <option id="vozilo" th:each="vozilo : ${vozila}" th:value="${vozilo.voziloID}" 
                                        th:text="${vozilo}"></option>
                            </select>
                        </div>
                        <div class="col form-group">
                            <label>Cena vozila po danu:</label>
                            <input id="cenaStavke" disabled="disabled" type="text" class="form-control" th:field="*{cenaStavke}" required="required">
                        </div>
                        <div class="col form-group">
                            <label>Datum od:</label>
                            <input id="datumOd" type="date" min="01.01.2023" class="form-control" th:field="*{datumOd}" required="required">
                        </div>
                        <div class="col form-group">
                            <label>Datum do:</label>
                            <input id="datumDo" type="date" class="form-control" th:field="*{datumDo}" required="required">
                        </div>
                        <div class="col form-group align-self-end">
                            <button id="btn-rezervisi" type="submit"  class="btn btn-dark mr-2" onclick="rezervisiVozilo()">Rezervisi vozilo</button>
                        </div>
                    </div>
                </form>
            </div>
            <form id="rezervacijaForm" action="#" th:action="@{/rezervacije{id}(id=${rezervacijaID})}" th:object="${rezervacija}" th:method="PUT">
                <input id="rezervacijaID" hidden="hidden" type="text" class="form-control" th:field="*{rezervacijaID}" th:value="${rezervacijaID}">
                <div class="form-group">
                    <label>Cena bez PDV-a:</label>
                    <input id="cenaBezPDV" disabled="true" type="text" class="form-control" th:field="*{cenaBezPDV}" required="required">
                </div>
                <div class="form-group">
                    <label>PDV (%):</label>
                    <input  id="pdv" disabled="true" type="text" class="form-control" th:field="*{PDV}" required="required">
                </div>
                <div class="form-group">
                    <label>Cena sa PDV-om:</label>
                    <input id="cenaSaPDV" disabled="true" type="text" class="form-control" th:field="*{cenaSaPDV}" required="required">
                </div>
                <div class="form-group">
                    <label>Korisnik:</label>
                    <select id="korisnik" class="form-control" th:field="*{korisnik.korisnikID}">
                        <option th:each="korisnik : ${korisnici}" th:value="${korisnik.korisnikID}" 
                                th:text="${korisnik.imePrezime}"></option>
                    </select>
                </div>
                <div class="row form-group ml-1"> 
                    <button type="submit" class="col-2 btn btn-dark mr-1" onclick="izmeni()">Izmeni rezervaciju</button>
                    <button type="submit" class="col-2 btn btn-dark mr-1" th:attr="onclick=|obrisiRezervaciju('${rezervacija.rezervacijaID}')|">Obrisi rezervaciju</button>
                    <a type="button" class="col-1 btn btn-dark ml-1" th:href="@{/rezervacije}">Nazad</a>
                </div>
            </form>
        </div>
    </body>
</html>
<script type="text/javascript" th:inline="javascript">
    $("#stavkeRezervacijeForm").submit(function (e) {
        e.preventDefault();
    });
    $("#rezervacijaForm").submit(function (e) {
        e.preventDefault();
    });

    /*<![CDATA[*/
    $(document).ready(function () {
        $("#vozilo option[value='']").attr("selected", "selected");
        $("#pdv").val('10');
        let mydiv = document.getElementById("stavkeRezervacijeForm");
        let stavke = /*[[${rezervacija.stavkeRezervacije}]]*/;
        for(let i=0; i<stavke.length; i++){
            let datumOd = new Date(stavke[i].datumOd);
            let datumDo = new Date(stavke[i].datumDo);
            var cenaStavke = stavke[i].cenaStavke;
        mydiv.innerHTML += "<div id=\"row\" class=\"row\">" +
                "<div class=\"col form-group\">" +
                "<label>Vozilo(RB):</label>" +
                "<input id=\"voziloID\" hidden=\"hidden\" disabled=\"disabled\" type=\"text\" class=\"form-control\" value=" + stavke[i].vozilo.voziloID + " required=\"required\"></input>" +
                "<input id=\"vozilo\" disabled=\"disabled\" type=\"text\" class=\"form-control\" value=" + stavke[i].vozilo.registarskiBroj + "></input>" +
                "</div>" +
                "<div class=\"col form-group\">" +
                "<label>Ukupna cena vozila:</label>" +
                "<input id=\"cenaVozila\" disabled=\"disabled\" type=\"text\" class=\"form-control\" value=" + cenaStavke + " required=\"required\">" +
                "</div>" +
                "<div class=\"col form-group\">" +
                "<label>Datum od:</label>" +
                "<input id=\"datumOdRez\" disabled=\"disabled\" type=\"text\" class=\"form-control\" value=" + datumOd.toISOString().slice(0, 10) + " required=\"required\">" +
                "</div>" +
                "<div class=\"col form-group\">" +
                "<label>Datum do:</label>" +
                "<input id=\"datumDoRez\" disabled=\"disabled\" type=\"text\" class=\"form-control\" value=" + datumDo.toISOString().slice(0, 10) + " required=\"required\">" +
                "</div>" +
                "<button id=\"btn-obrisiRezervaciju\" type=\"submit\" class=\"btn btn-dark mr-2 mb-3 align-self-end\" onclick=\"obrisiStavku(this)\">Obrisi</button>" +
                "</div>";
    }

    })

    function postaviCenu() {
        var voziloID = $("#vozilo").val();
        getVozilo(voziloID);
    }

    function getVozilo(voziloID) {
        $.ajax({
            type: "GET",
            url: "/rezervacije/vozilo/" + voziloID,
            contentType: "application/json",
            async: false,
            success: function (data) {
                $("#cenaStavke").val(data.cenaPoDanu);
            },
            error: function (data) {
            }
        });
    }

    function rezervisiVozilo() {
        var cenaStavke = $("#cenaStavke").val();
        if ($("#cenaStavke").val() == 0) {
            alert("Morate popuniti sva polja!");
            return;
        }
        cenaStavke = parseFloat(cenaStavke);
        if ($("#datumOd").val() == '' || $("#datumDo").val() == '') {
            alert("Morate popuniti sva polja!");
            return;
        }
        var today = new Date();
        var datumOd = new Date($("#datumOd").val());
        var datumDo = new Date($("#datumDo").val());
        if(datumOd > datumDo){
            alert("Neispravno uneti datumi!");
            return;
        }
        if(datumOd < today || datumDo < today){
            alert("Neispravno uneti datumi!");
            return;
        }
        
        var razlika = datumDo - datumOd;
        var brojDana = Math.ceil(razlika / (1000 * 3600 * 24));
        var cenaBezPDV = $("#cenaBezPDV").val();
        cenaBezPDV = parseFloat(cenaBezPDV);
        cenaBezPDV += brojDana * cenaStavke;
        $("#cenaBezPDV").val(cenaBezPDV);
        var pdv = $("#pdv").val();
        pdv = parseFloat(pdv);
        var cenaSaPDV = $("#cenaSaPDV").val();
        cenaSaPDV = cenaBezPDV * ((100 + pdv) / 100);
        $("#cenaSaPDV").val((cenaSaPDV).toFixed(2));
        var voziloID = $("#vozilo").val();
        var vozila = /*[[${vozila}]]*/;
        var vozilo;
        for (let i = 0; i < vozila.length; i++) {
            console.log(vozila[i].voziloID);
            if (voziloID == vozila[i].voziloID) {
                let string = vozila[i].registarskiBroj;
                vozilo = string;
                break;
            }
        }
        var cenaVozila = $("#cenaStavke").val();
        var cenaStavke = cenaVozila*brojDana;
        let mydiv = document.getElementById("stavkeRezervacijeForm");

        document.getElementById("stavkeRezervacijeForm").reset();
        mydiv.innerHTML += "<div id=\"row\" class=\"row\">" +
                "<div class=\"col form-group\">" +
                "<label>Vozilo(RB):</label>" +
                "<input id=\"voziloID\" hidden=\"hidden\" disabled=\"disabled\" type=\"text\" class=\"form-control\" value=" + voziloID + " required=\"required\"></input>" +
                "<input id=\"vozilo\" disabled=\"disabled\" type=\"text\" class=\"form-control\" value=" + vozilo + "></input>" +
                "</div>" +
                "<div class=\"col form-group\">" +
                "<label>Ukupna cena vozila:</label>" +
                "<input id=\"cenaVozila\" disabled=\"disabled\" type=\"text\" class=\"form-control\" value=" + cenaStavke + " required=\"required\">" +
                "</div>" +
                "<div class=\"col form-group\">" +
                "<label>Datum od:</label>" +
                "<input id=\"datumOdRez\" disabled=\"disabled\" type=\"text\" class=\"form-control\" value=" + datumOd.toISOString().slice(0, 10) + " required=\"required\">" +
                "</div>" +
                "<div class=\"col form-group\">" +
                "<label>Datum do:</label>" +
                "<input id=\"datumDoRez\" disabled=\"disabled\" type=\"text\" class=\"form-control\" value=" + datumDo.toISOString().slice(0, 10) + " required=\"required\">" +
                "</div>" +
                "<button id=\"btn-obrisiRezervaciju\" type=\"submit\" class=\"btn btn-dark mr-2 mb-3 align-self-end\" onclick=\"obrisiStavku(this)\">Obrisi</button>" +
                "</div>";
    }

    function obrisiStavku(element) {
        
        element = element.closest("div");
        element = element.closest("div").remove();
        refreshCene();
    }

    function izmeni() {
        var stavkeRezervacije = new Array();
        var vozilo = document.querySelectorAll("#voziloID");
        var datumOd = document.querySelectorAll("#datumOdRez");
        var datumDo = document.querySelectorAll("#datumDoRez");
        var cenaVozila = document.querySelectorAll("#cenaVozila");
       

        for (var i = 0; i < datumOd.length; i++) {
            var datumOd1 = new Date(datumOd[i].value);
            var datumDo1 = new Date(datumDo[i].value);
            var singleObj = {};
            singleObj['rb'] = i;
            singleObj['datumOd'] = datumOd1;
            singleObj['datumDo'] = datumDo1;
            singleObj['cenaStavke'] = cenaVozila[i].value;
            singleObj['voziloID'] = parseFloat(vozilo[i].value);
            stavkeRezervacije.push(singleObj);
        }
        console.log(stavkeRezervacije);
        var cenaBezPDV = $("#cenaBezPDV").val();
        var pdv = $("#pdv").val();
        var cenaSaPDV = $("#cenaSaPDV").val();
        var korisnik = $("#korisnik").val();
        $.ajax({
            type: "PUT",
            url: "/rezervacije/" + /*[[${rezervacija.rezervacijaID}]]*/,
            contentType: "application/json",
            data: JSON.stringify({
                cenaBezPDV: cenaBezPDV,
                pdv: pdv,
                cenaSaPDV: cenaSaPDV,
                korisnikID: korisnik,
                stavkeRezervacije: stavkeRezervacije
            }),
            success: function (result) {
                location.href = "/rezervacije";
            },
            error: function (result) {
            }
        });
    }
    
    function refreshCene(){
        var cenaVozila = document.querySelectorAll("#cenaVozila");
        var cenaBezPDV = 0;

        for (var i = 0; i < cenaVozila.length; i++) {
            cenaBezPDV += cenaVozila[i].value;
            cenaBezPDV = parseFloat(cenaBezPDV);
        }
        $("#cenaBezPDV").val(cenaBezPDV);
        var pdv = $("#pdv").val();
        pdv = parseFloat(pdv);
        var cenaSaPDV = cenaBezPDV * ((100 + pdv) / 100);
        $("#cenaSaPDV").val(cenaSaPDV);
        }
    /*]]>*/
</script>
